# DaySim Processing Pipeline Configuration for BATS 2023
# This config file demonstrates the full pipeline with DaySim formatting

# config.yaml

# Define directory shorthands
survey_dir: "M:/Data/HomeInterview/Bay Area Travel Study 2023/Data/Full Weighted 2023 Dataset/WeightedDataset_02212025"
output_dir: "M:/Data/HomeInterview/Bay Area Travel Study 2023/Data/Processed/BATS2023_DaysimTest"
taz_shapefile: "X:/travel-model-one-master/utilities/geographies/bayarea_rtaz1454_rev1_WGS84.shp"

# Pipeline configuration
steps:
  - name: load_data
    validate: false # This will override @step(validate=True/False) in the function definition
    params:
      input_paths:
        households: "{{ survey_dir }}/hh.csv"
        persons: "{{ survey_dir }}/person.csv"  
        days: "{{ survey_dir }}/day.csv"
        unlinked_trips: "{{ survey_dir }}/trip.csv"
        taz_shapefile: "{{ taz_shapefile }}"

  - name: custom_cleaning
    validate: false

  # - name: imputation
  #   validate: true

  - name: link_trips
    function: link_trips
    validate: false
    params:
      change_mode_code: 11  # Purpose code for 'change_mode'
      transit_mode_codes: [12, 13, 14] # NOTE: this is not elegant
      max_dwell_time: 180  # in minutes
      dwell_buffer_distance: 100  # in meters

  - name: extract_tours
    validate: false

  # - name: weighting
  #   validate: true


  - name: custom_add_taz_ids
    validate: false
  
  # - name: final_check
  #   validate: true
  
  # This prepares a new set of files formatted for DaySim
  - name: format_daysim
    validate: false

  - name: write_outputs
    params:
      outputs:      
        # Standard Survey Formats
        households: "{{ output_dir }}/households.csv"
        persons: "{{ output_dir }}/persons.csv"
        days: "{{ output_dir }}/days.csv"
        unlinked_trips: "{{ output_dir }}/unlinked_trips.csv"
        linked_trips: "{{ output_dir }}/linked_trips.csv"
        tours: "{{ output_dir }}/tours.csv"
        # DaySim Formats
        households_daysim: "{{ output_dir }}/hh_daysim.csv"
        persons_daysim: "{{ survey_dir }}/person_daysim.csv"
        days_daysim: "{{ survey_dir }}/day_daysim.csv"
        linked_trips_daysim: "{{ survey_dir }}/linked_trip_daysim.csv"
        tours_daysim: "{{ survey_dir }}/tour_daysim.csv"