# DaySim Processing Pipeline Configuration for BATS 2023
# This config file demonstrates the full pipeline with DaySim formatting

# Define directory shortcuts
survey_dir: "M:/Data/HomeInterview/Bay Area Travel Study 2023/Data/Full Weighted 2023 Dataset/WeightedDataset_02212025"
output_dir: "M:/Data/HomeInterview/Bay Area Travel Study 2023/Data/Processed/BATS2023_DaysimTest"
taz_shapefile: "X:/travel-model-one-master/utilities/geographies/bayarea_rtaz1454_rev1_WGS84.shp"


outputs:
  households: "{{ output_dir }}/hh.csv"
  persons: "{{ output_dir }}/person.csv"
  days: "{{ output_dir }}/day.csv"
  unlinked_trips: "{{ output_dir }}/trip.csv"
  linked_trips: "{{ output_dir }}/linked_trips.csv"
  tours: "{{ output_dir }}/tours.csv"




# Pipeline configuration
steps:
  - name: load_data
    parameters:
      input_paths:
        households: "{{ survey_dir }}/hh.csv"
        persons: "{{ survey_dir }}/person.csv"  
        days: "{{ survey_dir }}/day.csv"
        unlinked_trips: "{{ survey_dir }}/trip.csv"
        taz: "{{ taz_shapefile }}"

  - name: custom_cleaning

  - name: link_trips
    parameters:
      change_mode_code: 11  # Purpose code for 'change_mode'
      transit_mode_codes: [12, 13, 14]
      max_dwell_time: 180  # in minutes
      dwell_buffer_distance: 100  # in meters

  - name: extract_tours

  # - name: daysim_formatting
  # - name: saving
